
/*box*/
.box-cover{
  width: 100%;
  height: 100%;
  position: fixed;
  display:none;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.6);
  z-index: 10;
}
.box-w{
  position:fixed;
  top:-100%;
  width: 100%;
  transition: top 0.3s ease;
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  -ms-transition: top 0.3s ease;
  background-color:#007cf0;
  z-index: 11;    
  box-shadow: #000 2px 2px 20px 2px;
}
.box-w.open{
  top:0%;
}
.textbox-wrapper{
  padding:0 15px;
}
.textbox-title{
  line-height: 40px;
  height: 40px;
  font-size: 20px;
  border-bottom:1px dashed #fff;
}
.textbox{
  resize: none;
  width: 100%;
  margin-top: 10px;
  height: 100px;
  line-height: 16px;
  background-color: rgba(255,255,255,0.9);
  border-color:#fff;
}
.textbox:active {
  border: 1px solid #fff;
}
.textbox-btnw,.multibox-btnw,.cascadebox-btnw{
  margin-bottom: 10px;
  text-align: right;
  height:35px;
}
.textbox-btn,.multibox-btn,.cascadebox-btn{
  border: 1px solid #fff;
  margin: 0 5px;
  padding: 2px 10px;
  background-color:transparent;
  line-height: 35px;
}
.textbox-btn:last-child,.multibox-btn:last-child{
  margin-right:0;
}
.multi-list{
  border-bottom:1px dashed #fff;
}
.multi-item{
  width: 44%;
  margin: 8px 3%;
  border: 1px solid #fff;
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 5px 0;
  position: relative;
  white-space:nowrap;
  overflow:hidden;
}
.multi-item .icon{
  position: absolute;
  right: 8px;
  top: 6px;
  font-size: 20px;
  color:#fff;
}
.multibox-btnw,.cascadebox-btnw{
  padding-right: 3%; 
  height: 45px;
  line-height:45px;
  margin-bottom:0;
  background-color:rgba(0,0,0,.2);
}
.selectbox-item{
  height: 45px;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  padding: 5px;
  border-bottom:1px solid #fff;
}
.selectbox-item.select-cancel{
  border-bottom:none;
  background: rgba(0,0,0,.2);
}
.confirmbox-text{
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  border-bottom: 1px solid #fff;
  font-weight: bold;
}
.confirmbox-btnw{
  height: 50px;
}
.confirmbox-btn{
  height:50px;
  line-height: 50px;
  text-align:center;
  font-size: 20px;
  width:50%;
  float:left;
}
.cascadebox-btn:active,.confirmbox-btn:active,.selectbox-item:active,.textbox-btn:active,.multibox-btn:active{
  background-color:rgba(255,255,255,0.3);
}
.confirmbox-btnw .confirmbox-btn:first-child{
  border-right: 1px solid #fff;
}

.cascadebox-list{
  height: 250px;
  position:relative;
  overflow:hidden;
}
.c-i,.d-i{
  width: 33.33333%;
  float: left;
  height: 100%;
  text-align: center;
  font-size: 20px;
  overflow-y:auto;
  padding:100px 0;
  -webkit-overflow-scrolling : touch;
}
.d-i.hide{
  display:none;
}
.c-i:last-child,.d-i:last-child{
  
}
.d-i div,.ci-w div,.cc-i div{
  height: 50px;
  line-height: 50px;
}
.d-i div.active,.ci-w div.active,.cc-i div.active{
  font-size: 25px;
  font-weight: bold;
}
.ci-w{
  display:none; 
}
.ci-w.active{
  display:block; 
}
.cascade-center{
  height:50px;
  position:absolute;
  top:100px;
  left:0;
  width:100%;
  background-color: rgba(255,255,255,.2);
}
/*box end*/

/* navi */

#header{
  position: fixed;
  width: 100%;
  left:0%;
  top: 0;
  z-index:2;
  /* max-width: 600px; */
  transition: left 0.3s ease;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
}
#header.offset{
  left:-70%;
}
#main{
  padding: 5px;
  position:relative;
  left:0%;
  transition: left 0.3s ease;
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
}
#main.offset{
  left:-70%;
}
.navi-cover {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}
.open-navi{
  font-size: 28px;
  top: 5px;
  position: absolute;
  right: 5px;
}
.icon.back{
  font-size: 28px;
  top: 5px;
  position: absolute;
  left: 5px;
}
.navi {
  position: fixed;
  height: 100%;
  top: 0;
  z-index: 10;
  width: 70%;
  right: -70%;
  transition: right 0.3s ease;
  -webkit-transition: right 0.3s ease;
  -moz-transition: right 0.3s ease;
  -o-transition: right 0.3s ease;
  -ms-transition: right 0.3s ease;
  border-left: 1px solid #fff;
  padding-top: 35px;
}
.navi.offset {
  right: 0;
}
.navi-close{
  position: absolute;
  right: 3px;
  top: 3px;
  font-size: 28px;
}
.navi-item{
  border-top: 1px solid #fff;
  font-size: 20px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  letter-spacing: 3px;
}
.navi-item:last-child{
  border-bottom: 1px solid #fff;
}
.navi-item.active{
  background-color: rgba(255,255,255,.3);
}
.navi-item .icon{
  position: relative;
  top: 3px;
  font-size: 26px;
}
/* end navi */

/* search */
.search-wrapper{
  width:100%;
  /* max-width:600px; */
  height:40px;
  top:-40px;
  border-bottom: 1px solid #fff;
  z-index:5;
  position:fixed;
  transition: top 0.3s ease;
  -webkit-transition: top 0.3s ease;
  -moz-transition: top 0.3s ease;
  -o-transition: top 0.3s ease;
  -ms-transition: top 0.3s ease;
  padding: 4px 10px;
  padding-right:90px;
}
.search-wrapper.open{
  top:0px;
}
.box-max-height{
  max-height: 450px;
  overflow-y: auto;
  -webkit-overflow-scrolling : touch;
}
.box-viewmore{
  position: absolute;
  left: 10px;
  font-size: 12px;
  color: rgba(255,255,255,.6);
  display:none;
}
.open-search{
  font-size: 28px;
  top: 5px;
  position: absolute;
}
.open-search{
  right: 45px;
}
.s-i-w{
  width:60%;
  height: 30px;
  padding:0 2px;
  float:left;
}
.s-i-w.select{
  width:40%;
  position:relative;
}
.s-i-w.select .icon{
  font-size: 23px;
  position: absolute;
  right: 10px;
  top: -2px;
}
.s-i-w .input{
  width:100%;
  height:100%;
  line-height:30px;
  background-color: rgba(255,255,255,0.9);
}
.search-img{
  position:absolute;
  height:30px;
  top:5px;
}
.search-img.close{
  right:5px;
  font-size: 28px;
}
.search-img.search{
  /* right:45px; */
  /* top:0px; */
  /* height:40px; */
  top: 5px;
  right:45px;
  font-size: 28px;
}
.body-fixed{
  position:fixed!important;
}
/* end search */