.fs-xl {
  font-size: 20px;
}
.fs-l {
  font-size: 18px;
}
.fs-m {
  font-size: 16px;
}
.fs-s {
  font-size: 14px;
}
.fs-xs {
  font-size: 12px;
}
.m-xl {
  margin: 20px;
}
.m-l {
  margin: 15px;
}
.m-m {
  margin: 10px;
}
.m-s {
  margin: 5px;
}
.m-xs {
  margin: 3px;
}
.p-xl {
  padding: 15px;
}
.p-l {
  padding: 15px;
}
.p-m {
  padding: 10px;
}
.p-s {
  padding: 5px;
}
.p-xs {
  padding: 3px;
}
.bold {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.center {
  margin: 0 auto;
}
.bg-boy {
  background-color: #57baff;
}
.border-boy {
  border: 1px solid #57baff;
}
.fc-boy {
  color: #57baff;
}
.bg-l-boy {
  background-color: #ebfaff;
}
.bg-girl {
  background-color: #fb84b0;
}
.border-girl {
  border: 1px solid #fb84b0;
}
.fc-girl {
  color: #fb84b0;
}
.bg-l-girl {
  background-color: #ffe9f4;
}
.fc-white {
  color: #fff;
}
.fc-dark {
  color: #262626;
}
.fc-gray {
  color: #808080;
}
.fc-l-gray {
  color: #a6a6a6;
}
.fc-xl-gray {
  color: #d9d9d9;
}
.block {
  display: block;
}
.i-block {
  display: inline-block;
}
.hide {
  display: none;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.left {
  float: left;
}
.right {
  float: right;
}
.pointer {
  cursor: pointer;
}
body {
  background-color: #f8f8fa;
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto;
}
#bgCanvas,
#bgCover {
  position: fixed;
  top: 0;
  left: 0;
}
#bgCanvas {
  z-index: -2;
}
#bgCover {
  z-index: -1;
  background-color: rgba(230, 230, 235, 0.4);
}
.btn {
  background-color: #57baff;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.btn.girl {
  background-color: #fb84b0;
}
.btn.big {
  width: 80%;
}
.input {
  background-color: #ebfaff;
  font-size: 16px;
  color: #808080;
  border-radius: 1px;
  border: 1px solid #57baff;
  width: 200px;
  height: 40px;
  line-height: 40px;
  outline: none;
}
.input:active {
  border: 1px solid #57baff;
}
.input.girl {
  background-color: #ffe9f4;
  border: 1px solid #fb84b0;
}
.input.big {
  width: 100%;
}
#centerWrapper {
  padding: 15px;
}
.input-w {
  margin: 10px 0;
  width: 100%;
  position: relative;
}
.input-w .icon {
  position: absolute;
  height: 24px;
  top: 8px;
  left: 8px;
}
.input-w .icon.tail {
  right: 8px;
  left: inherit;
}
.input-w .input {
  width: 100%;
}
.input-w .input.has-icon {
  padding: 0 40px;
}
.input-w .valid {
  font-size: 14px;
  color: #f44;
  position: absolute;
  display: none;
  right: 10px;
  top: 9px;
}
.input-w .valid.tail {
  right: 40px;
}
.radio-w {
  display: inline-block;
}
.radio-w .radio-box {
  width: 18px;
  height: 18px;
  display: inline-block;
  border: 1px solid #57baff;
  position: relative;
}
.radio-w .radio-box .radio-o {
  width: 12px;
  height: 12px;
  background-color: #57baff;
  display: inline-block;
  position: absolute;
  display: none;
  left: 2px;
  top: 2px;
}
.radio-w .radio-box.girl {
  border: 1px solid #fb84b0;
}
.radio-w .radio-box.girl .radio-o {
  background-color: #fb84b0;
}
.radio-w .radio-text {
  color: #808080;
  position: relative;
  top: -4px;
}
.link {
  text-decoration: underline;
  color: #a6a6a6;
  font-size: 14px;
  position: relative;
}
.copyright {
  color: #a6a6a6;
  width: 100%;
  position: fixed;
  bottom: 5px;
  text-align: center;
  font-size: 12px;
  left: 0;
}
