
body {
  background-color: #f8f8fa;
  font-size: 14px;
  max-width: 600px;
  margin: 0 auto!important;
}
#bgCanvas,
#bgCover {
  position: fixed;
  top: 0;
  left: 0;
}
#bgCanvas {
  z-index: -2;
}
#bgCover {
  z-index: -1;
  background-color: rgba(230, 230, 235, 0.4);
}
#centerWrapper {
  padding: 15px;
}



.info-text {
  color: #808080;
  font-size: 16px;
  text-align: center;
  margin: 15px;
}
.info-text.small {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.info-text.regist {
  margin-bottom: 3px;
}
.big-logo {
  width: 60%;
  display: block;
  margin: 0 auto!important;
}
.login-func-w {
  width: 100%;
  margin-top: 17px;
}
.login-func-w .radio-w:last-child {
  float: right;
}
.login-func-w .link {
  margin-left: 7px;
}
.login-func-w .btn {
  width: 100%;
  margin-bottom: 10px;
}
.login-func-w:last-child {
  margin-top: 10px;
  text-align: right;
}
.login-func-w.regist {
  margin-top: 40px;
}
.login-func-w.regist .link {
  margin: 0 2px;
}
[jet-form] .input-w {
  margin-top: 15px;
}
.input-w {
  margin: 5px 0!important;
  overflow:hidden;
}
.login-func-w {
  margin-top: 15px!important;
}
.login-func-w.jump {
  text-align: right;
  margin-top: 5px!important;
}
.copyright {
  position: relative;
}
.info-text.jump {
  margin-bottom: 10px;
}
.add-photo{
  width: 100px;
  height: 100px;
  border: 3px dashed #aaa;
  margin: 5px auto;
  border-radius: 50%;
  text-align: center;
  padding-top: 25px;
  position:relative;
  /* background-image: url(../images/icon3.png); */
  background-size: contain;
  background-repeat: no-repeat;
}
.add-photo .icon{
  color: #aaa;
  font-size: 40px;
}
.add-photo span{
  position: absolute;
  color: #aaa;
  bottom: 10px;
  white-space: nowrap;
  left: 19px;
}
#centerWrapper.finish{
  padding-top:25px;
}